@using System.IO
@using FullStack.Av.Media
@using FullStack.Av.Sources
@using SixLabors.ImageSharp
@using SixLabors.ImageSharp.Formats.Jpeg
@using SixLabors.ImageSharp.Processing

<div class="@classes" @ondblclick="() => OnDoubleClick.InvokeAsync(Info)">
    <div class="image" title="@ToolTip">
        <img alt="file sys icon" src="@imageSourceString" />
    </div>
    <span class="name">@Info.Name</span>
    @if (Info is AvSource fi) 
    {
        <span class="is-detail type">@fi.FileSource.Extension.TrimStart('.').ToLower()</span>
        <span class="is-detail size">@fi.PrintFileSize</span>
    }
</div>


@code {

    private string classes = null!;
    private string imageSourceString = null!;
    private IAvBrowsingItem info = null!;
    private string? ToolTip => ViewMode switch
    {
        GalleryViewMode.SmallIcons => Info.Name,
        GalleryViewMode.LargeIcons => (Info as AvSource)?.PrintFileSize,
        _ => null,
    };

    [Parameter]
    public GalleryViewMode ViewMode { get; set; }

    [Parameter]
    public IAvBrowsingItem Info
    {
        get => info;
        set
        {
            if (info != value)
            {
                info = value;
                var classBuilder = new System.Text.StringBuilder("gallery-item");
                if (info.IsDirectory)
                {
                    classBuilder.Append(" folder");
                    imageSourceString = "images/folder.svg";
                }
                else
                {
                    classBuilder.Append(" file");
                    var source = (AvSource)info;
                    if (source.IsSecure)
                    {
                        classBuilder.Append(" secure");
                    }

                    var thumbnail = source.Preview(testKey);
                    imageSourceString = thumbnail?.ToBase64String(JpegFormat.Instance) ?? "images/document.svg";
                }

                classes = classBuilder.ToString();
            }
        }
    }

    [Parameter]
    public EventCallback<IAvBrowsingItem> OnDoubleClick { get; set; }

    private byte[] testKey = new byte[] { 1, 33, 1, 44 };
}
