@using FullStack.Av.Media;
@using FullStack.Crypto;
@using Mauzor.UI.Shared
@using System.IO
@using System.Diagnostics
@using Microsoft.Extensions.Logging
@using Microsoft.Maui.Essentials

@inject ILogger<Gallery> logger;

<div>
    <select title="view mode" @bind="viewMode">
        <option value="@GalleryViewMode.DetailList">Detail list</option>
        <option value="@GalleryViewMode.SmallIcons">Small icons</option>
        <option value="@GalleryViewMode.LargeIcons">Large icons</option>
    </select>
</div>

<div>
    <input type="button" title="up" @onclick="NavigateUp" disabled="@(!CanNavigateUp)" value=".." />
    <input type="button" title="refresh" @onclick="() => Navigate(currentDir)" value="↻" />
    <input type="button" title="import" @onclick="ImportFiles" value="↦" />
    <span>@currentDir.Name</span>
</div>

<div class="gallery @AuxClasses">
    <ListView @ref="listControl" T="IAvBrowsingItem" Items="items" Orientation="orientation" SelectionChanged="fsi => selectedFile = fsi as AvSource">
        <ItemTemplate Context="item">
            <GalleryItem ViewMode="@viewMode" Info="item" OnDoubleClick="ItemDoubleClicked" />
        </ItemTemplate>
    </ListView>
</div>

<div>
    <input type="button" title="encrypt" @onclick="EncryptSelection" disabled="@(!CanEncryptSelection)" value="🔒" />
</div>

<FilePreview Source="selectedFile"/>

@code {

    private GalleryViewMode viewMode = GalleryViewMode.DetailList;

    private AvDirectory currentDir = null!;
    private List<IAvBrowsingItem> items = new List<IAvBrowsingItem>();
    private ListView<IAvBrowsingItem> listControl = null!;
    private AvSource? selectedFile;

    private string AuxClasses => viewMode switch
    {
        GalleryViewMode.LargeIcons => "large",
        GalleryViewMode.DetailList => "small detail",
        _ => "small"
    };

    private ListOrientation orientation => viewMode switch
    {
        GalleryViewMode.DetailList => ListOrientation.Vertical,
        _ => ListOrientation.Horizontal,
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var specialFolder = Environment.SpecialFolder.MyDocuments;
        var specialPath = Environment.GetFolderPath(specialFolder);
        var specialDirInfo = new DirectoryInfo(specialPath);
        var appMediaFiles = specialDirInfo.CreateSubdirectory("mauzor");

        Navigate(new AvDirectory(appMediaFiles));
    }

    private void Navigate(AvDirectory dir)
    {
        currentDir = dir;
        listControl?.ClearSelection();
        items.Clear();
        items.AddRange(dir.FolderSource.Browse());
    }

    private async Task ImportFiles()
    {
        var files = await InteropExtensions.PickMediaAsync(true);
        foreach (var file in files)
        {
            var fi = new FileInfo(file.FullPath);
            fi.Encrypt(new byte[] { 1, 33, 1, 44 });
            fi.MoveTo(Path.Combine(currentDir.FolderSource.FullName, fi.Name));
        }

        Navigate(currentDir);
    }


    private void ItemDoubleClicked(IAvBrowsingItem info)
    {
        if (info is AvSource fi)
        {

        }
        else if (info is AvDirectory di)
        {
            Navigate(di);
        }
    }

    private bool CanNavigateUp => currentDir.FolderSource.Parent != null;
    private void NavigateUp()
    {
        Navigate(new AvDirectory(currentDir.FolderSource.Parent!));
    }

    private bool CanEncryptSelection => selectedFile != null && !selectedFile.IsSecure;
    private void EncryptSelection()
    {
        selectedFile!.FileSource.Encrypt(new byte[] { 1, 33, 1, 44 });
        Navigate(currentDir);
    }
}
